<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credence Analytics | Project</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1> Welcome to Credence Analytics </h1>
            <h3> Congratulations! Data fetched successfully. </h3>

            <a href="/reports1">
                <button>
                    Click here for reports pattern - 1
                </button>
            </a> <br> <br>
            <a href="#">
                <button>
                    Click here for reports pattern - 2
                </button>
            </a>
        </div>
    </body>
</html>