<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credence Analytics | Project</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1> Welcome to Credence Analytics </h1>
            <h3> Congratulations! Data fetched successfully. </h3>

            <a href="/reports1">
                <button id ='fetch_btn'>
                    Click here for reports pattern - 1
                </button>
            </a> <br> <br>
            <a href="/reports2">
                <button id ='fetch_btn'>
                    Click here for reports pattern - 2
                </button>
            </a>
            <style>
                #fetch_btn{
                    background-color: #6687ff; /* Green */
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    font-size: 16px;
                    cursor: pointer;
                }
            </style>
        </div>
    </body>
</html>