<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Credence Analytics | Project</title>
    </head>
    <body>
        <div style="text-align: center;">
            <h1> Welcome to Credence Analytics </h1>
            <a href="#">
                <button>
                    Click here to fetch API data
                </button>
            </a>
        </div>
    </body>
</html>
